.suppliers-container {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  height: 89vh;
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

.reset-button {
  padding: 8px 16px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #5a6268;
}

.supplier-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 20px;
}

.supplier-form label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #666;
  width: 100%;
  max-width: 250px;
}

.supplier-form input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #333;
}

.submit-button {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.suppliers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.suppliers-table th,
.suppliers-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.suppliers-table th {
  background-color: #007bff;
  color: white;
}

.edit-button,
.delete-button {
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.edit-button {
  color: #007bff;
}

.delete-button {
  color: #dc3545;
}

.edit-button:hover {
  color: #0056b3;
}

.delete-button:hover {
  color: #c82333;
}
