.pos-container {
  display: flex;
  height: 100vh;
  padding: 1rem;
  gap: 1rem;
}

.pos-left,
.pos-center,
.pos-right {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pos-left,
.pos-right {
  flex: 1;
}

.pos-center {
  flex: 2;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  overflow-y: auto;
}

.inventory-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inventory-table th {
  background-color: #007bff;
  color: white;
}

.inventory-table tr:hover {
  background-color: #f1f1f1;
}

.inventory-table td {
  color: #333;
}

.add-row-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.add-row-button:hover {
  background-color: #0056b3;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.delete-cell {
  width: 10px; 
  text-align: center;
}

.delete-button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
}

.delete-button:hover {
  color: darkred;
}
