.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: url("../../../public/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-title {
 
  text-align: center;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.overview-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.key-metrics,
.quick-actions {
  flex: 1;
  margin: 0 2rem;
}

.metric-card,
.action-button {
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  text-align: center;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.action-button:hover {
  background-color: #0069d9;
}

.modules-section {
  width: 80%;
  max-width: 1200px;
  margin-top: 4rem;
}

.module-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.module-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.module-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.module-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.module-icon svg {
  color: #fff;
  font-size: 3rem;
}

.module-card h3 {
  color: #444;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
